:host {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.mat-center {
  display: flex;
  text-align: center;
  width: 80%;
  justify-content: center;
}

.mat-padding {
  padding: 3em;
}
